@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav{
    width: var(--offcanvas-width);
}

.sidebar-link{
    display: flex !important;
    align-items: center !important;
}
.sidebar-link .right-icon{
    display: inline-flex !important;
    transition: all ease-in 0.50s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg) !important;
}

@media (min-width: 992px) {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none !important;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }
}
